@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

body {
   background-color: #f0efef;
}

nav {
   background-color: pink;
   text-align: center;
   padding: 5px 10px;
}

h1 {
   margin: 0;
   font-size: 40px;
   color: #333;
   font-family: 'Sue Ellen Francisco', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
