@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

.container {
   margin: 0 auto;
   padding: 30px 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
}

.form {
   padding-bottom: 30px;
}

.form input {
   width: 300px;
   padding: 10px;
   border: none;
   border-bottom: 1px solid #333;
}

.form button {
   padding: 10px;
   margin-left: 10px;
   border: none;
   background-color: pink;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   font-size: 15px;
}

.notes {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 850px;
}

.note {
   width: 200px;
   height: 200px;
   padding: 10px;
   text-align: center;
   margin: 25px;
   box-shadow: 4px 4px 8px rgb(163, 163, 163);
}

.note:nth-child(4n+1) {
    transform: rotate(5deg);
    background-color: rgb(255, 255, 183);
}

.note:nth-child(4n+2) {
    transform: rotate(-7deg);
    background-color: pink;
}

.note:nth-child(4n+3) {
    transform: rotate(0deg);
    background-color: lightgreen;
}

.note:nth-child(4n+4) {
    transform: rotate(-10deg);
    background-color: rgb(143, 206, 228);
}

.note_text {
   text-align: left;
   font-family: 'Sue Ellen Francisco', cursive;
   font-size: 28px;
   margin: 0;
   padding: 5px;
   color: #021b8a;
}

.note_text p {
   margin: 0;
   padding: 0;
   transform: rotate(3deg);
}

.note_header {
   margin: 0;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #333;
   text-align: left;
   color: #333;
}

.note_header h3 {
   margin: 0 0 5px 0;
}

.note_header .delete {
   cursor: pointer;
   font-weight: bold;
   font-stretch: expanded;
}